body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 30px;
    color: #333;
}

#photos {
    display: block;
    margin: auto;
    font-size: 1.2em;
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

#results {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.prediction {
    margin-bottom: 20px;
}

.prediction img {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.prediction p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
}
